<section id="usertasks">
    <header>
        <h1>{{home.title}}</h1>
    </header>
    <section id="main" ng-show="home.tasks.length" ng-cloak>
        <ul id="task-list">
            <li ng-repeat="task in home.tasks" ng-class="{completed: task.completed}">
                <div class="task">
                    <input 
                        class="toggle"
                        type="checkbox" 
                        ng-model="task.completed" 
                        ng-change="home.updateCompletedCount()"
                    >
                    <label>{{task.title}}</label>
                </div>
            </li>
        </ul>
    </section>
    <footer id="footer" ng-show="home.tasks.length" ng-cloak>
        <ul id="menu">
            <li>
                <a href="#/tasks">Full task list</a>
            </li>
            <li>
                <a href="#/tasks">Get new tasks</a>
            </li>
            <li>
                <div circle-progress 
                    count="home.completedCount" 
                    total="home.tasks.length" 
                    circle-config="home.circleConfig" 
                    ng-if="home.circleConfig != undefined" 
                ></div>
            </li>
        </ul>
    </footer>
    
</section>
